<a href="https://colab.research.google.com/github/Esteban191/proyecto/blob/master/pizco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import pandas as pd
df_1=pd.read_csv("/content/drive/MyDrive/Facturas_electricas/O087DSTOPCJCN01A3183.CSV")
df_2=pd.read_csv("/content/drive/MyDrive/Facturas_electricas/O087DSTOPCJDHEHA3183.CSV")
df_3=pd.read_csv("/content/drive/MyDrive/Facturas_electricas/O087DSTOPCJHC03A3183.CSV")

In [55]:
df_3.columns

Index(['TRN;"COMERCIO";"FRANQUICIA";"CUENTA";"F VALE";"F PROCESO";"F ABONO";"TARJETA";"HORA TRN";"COMPROBANTE";"AUTORIZACION";"TERMINAL";"VLR COMPRA";"VLR IVA";"VLR PROPINA";"VLR TOTAL";"VLR COMISION";"VLR RETE IVA";"VLR RETE ICA";"VLR RETE FUENTE";"VLR ABONO";"T TARJETA";'], dtype='object')

In [56]:
df_2.columns

Index(['TRN;"COMERCIO";"FRANQUICIA";"CUENTA";"F VALE";"F PROCESO";"F ABONO";"TARJETA";"HORA TRNS";"COMPROBANTE";"AUTORIZACION";"TERMINAL";"VLR COMPRA";"VLR IVA";"VLR PROPINA";"VLR TOTAL";"VLR COMISION";"VLR RETE IVA";"VLR RETE ICA";"VLR RETE FUENTE";"VLR ABONO";"T TARJETA"'], dtype='object')

In [57]:
archivo_csv = "/content/drive/MyDrive/Facturas_electricas/O087DSTOPCJHC03A3183.CSV"
archivo_csv_2="/content/drive/MyDrive/Facturas_electricas/O087DSTOPCJDHEHA3183.CSV"
df_3 = pd.read_csv(archivo_csv, sep=";")
df_2 = pd.read_csv(archivo_csv_2, sep=";")

df_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 304 entries,  00006, to  00006,
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TRN              304 non-null    object
 1   COMERCIO         304 non-null    object
 2   FRANQUICIA       304 non-null    object
 3   CUENTA           304 non-null    int64
 4   F VALE           304 non-null    int64
 5   F PROCESO        304 non-null    int64
 6   F ABONO          304 non-null    int64
 7   TARJETA          304 non-null    object
 8   HORA TRNS        304 non-null    object
 9   COMPROBANTE      304 non-null    object
 10  AUTORIZACION     304 non-null    object
 11  TERMINAL         304 non-null    object
 12  VLR COMPRA       304 non-null    object
 13  VLR IVA          304 non-null    object
 14  VLR PROPINA      304 non-null    object
 15  VLR TOTAL        304 non-null    object
 16  VLR COMISION     304 non-null    object
 17  VLR RETE IVA     304 non-null    object
 18  VLR RETE ICA     304 non-null    object
 19  VLR RETE FUENTE  304 non-null    object
 20  VLR ABONO        304 non-null    object
 21  T TARJETA        0 non-null      float64
dtypes: float64(1), int64(4), object(17)
memory usage: 54.6+ KB

In [59]:
import pandas as pd

archivo_csv = "/content/drive/MyDrive/Facturas_electricas/O087DSTOPCJHC03A3183.CSV"
archivo_csv_2 = "/content/drive/MyDrive/Facturas_electricas/O087DSTOPCJDHEHA3183.CSV"
df_3 = pd.read_csv(archivo_csv, sep=";")
df_2 = pd.read_csv(archivo_csv_2, sep=";")

trn_df3 = df_3[df_3['TRN'].notna()]

trn_df2 = df_2[df_2['TRN'].notna()]

merged_df = pd.concat([trn_df3, trn_df2], ignore_index=True)

merged_df.head()

,TRN,COMERCIO,FRANQUICIA,CUENTA,F VALE,F PROCESO,F ABONO,TARJETA,HORA TRN,COMPROBANTE,...,VLR PROPINA,VLR TOTAL,VLR COMISION,VLR RETE IVA,VLR RETE ICA,VLR RETE FUENTE,VLR ABONO,T TARJETA,Unnamed: 22,HORA TRNS
0,"00006,","00010275303,",DCN,"000550038100012889,",20230701,20230702,20230702,4154,"0000012115800,00","0000003764,",...,"0000000000000,00","0000000039900,00","0000000000335,00","0000000000956,00","0000000000168,00","0000000000503,00","0000000037938,00","0,",NaN,NaN
1,"00006,","00016424152,",DCN,"000550038100012889,",20230701,20230702,20230702,3192,"0000017000700,00","0000003314,",...,"0000000000000,00","0000000119900,00","0000000001864,00","0000000002872,00","0000000000000,00","0000000001511,00","0000000113653,00","3,",NaN,NaN
2,"00006,","00016424152,",DCN,"000550038100012889,",20230701,20230702,20230702,2555,"0000019580200,00","0000004996,",...,"0000000000000,00","0000000035430,00","0000000000551,00","0000000000849,00","0000000000000,00","0000000000447,00","0000000033583,00","0,",NaN,NaN
3,"00006,","00018493064,",DCN,"000550038100012889,",20230701,20230702,20230702,6572,"0000020002800,00","0000001414,",...,"0000000000000,00","0000000329800,00","0000000004989,00","0000000007899,00","0000000001147,00","0000000000000,00","0000000315765,00","0,",NaN,NaN
4,"00010261345,",MNS,"000550038100012889,",20230701,20230702,20230702,7951,"0000011180025,00",NaN,111802,...,"0000000070400,00","0000000001094,00","0000000001686,00","0000000000000,00","0000000000887,00","0000000066733,00","6,",NaN,NaN,"0000005240,"

In [60]:
trn_df3

,TRN,COMERCIO,FRANQUICIA,CUENTA,F VALE,F PROCESO,F ABONO,TARJETA,HORA TRN,COMPROBANTE,...,VLR IVA,VLR PROPINA,VLR TOTAL,VLR COMISION,VLR RETE IVA,VLR RETE ICA,VLR RETE FUENTE,VLR ABONO,T TARJETA,Unnamed: 22
0,"00006,","00010275303,",DCN,"000550038100012889,",20230701,20230702,20230702,4154,"0000012115800,00","0000003764,",...,"0000000006371,00","0000000000000,00","0000000039900,00","0000000000335,00","0000000000956,00","0000000000168,00","0000000000503,00","0000000037938,00","0,",NaN
1,"00006,","00016424152,",DCN,"000550038100012889,",20230701,20230702,20230702,3192,"0000017000700,00","0000003314,",...,"0000000019144,00","0000000000000,00","0000000119900,00","0000000001864,00","0000000002872,00","0000000000000,00","0000000001511,00","0000000113653,00","3,",NaN
2,"00006,","00016424152,",DCN,"000550038100012889,",20230701,20230702,20230702,2555,"0000019580200,00","0000004996,",...,"0000000005657,00","0000000000000,00","0000000035430,00","0000000000551,00","0000000000849,00","0000000000000,00","0000000000447,00","0000000033583,00","0,",NaN
3,"00006,","00018493064,",DCN,"000550038100012889,",20230701,20230702,20230702,6572,"0000020002800,00","0000001414,",...,"0000000052657,00","0000000000000,00","0000000329800,00","0000000004989,00","0000000007899,00","0000000001147,00","0000000000000,00","0000000315765,00","0,",NaN

In [61]:
trn_df2

,TRN,COMERCIO,FRANQUICIA,CUENTA,F VALE,F PROCESO,F ABONO,TARJETA,HORA TRNS,COMPROBANTE,...,VLR COMPRA,VLR IVA,VLR PROPINA,VLR TOTAL,VLR COMISION,VLR RETE IVA,VLR RETE ICA,VLR RETE FUENTE,VLR ABONO,T TARJETA
"00006,","00010261345,",MNS,"000550038100012889,",20230701,20230702,20230702,7951,"0000011180025,00","0000005240,",111802,...,"0000000011240,00","0000000000000,00","0000000070400,00","0000000001094,00","0000000001686,00","0000000000000,00","0000000000887,00","0000000066733,00","6,",NaN
"00006,","00010261345,",MNS,"000550038100012889,",20230701,20230702,20230702,520,"0000012174581,00","0000005241,",601747,...,"0000000033561,00","0000000000000,00","0000000210200,00","0000000003268,00","0000000005034,00","0000000000000,00","0000000002650,00","0000000199248,00","6,",NaN
"00006,","00010261345,",MNS,"000550038100012889,",20230701,20230702,20230702,1429,"0000012545571,00","0000005242,",125457,...,"0000000002943,00","0000000000000,00","0000000018430,00","0000000000287,00","0000000000441,00","0000000000000,00","0000000000232,00","0000000017470,00","6,",NaN
"00006,","00010261345,",MNS,"000550038100012889,",20230701,20230702,20230702,7092,"0000013324566,00","0000005243,",133247,...,"0000000015966,00","0000000000000,00","0000000100000,00","0000000001555,00","0000000002395,00","0000000000000,00","0000000001261,00","0000000094789,00","6,",NaN
"00006,","00010261345,",MNS,"000550038100012889,",20230701,20230702,20230702,6177,"0000011193300,00","0000000000,",601933,...,"0000000015950,00","0000000000000,00","0000000099900,00","0000000001553,00","0000000002393,00","0000000000000,00","0000000001259,00","0000000094695,00","6,",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"00006,","00018335190,",MNS,"000550038100012889,",20230701,20230702,20230702,1541,"0000014404100,00","0000000000,",143209,...,"0000000017301,00","0000000000000,00","0000000108360,00","0000000001685,00","0000000002595,00","0000000000182,00","0000000001366,00","0000000102532,00","0,",NaN
"00006,","00018335190,",MNS,"000550038100012889,",20230701,20230702,20230702,3755,"0000014131400,00","0000000000,",R08026,...,"0000000055834,00","0000000000000,00","0000000349700,00","0000000005437,00","0000000008375,00","0000000000588,00","0000000004408,00","0000000330892,00","0,",NaN
"00006,","00018335190,",MNS,"000550038100012889,",20230701,20230702,20230702,8001,"0000017323700,00","0000000000,",R01906,...,"0000000038367,00","0000000000000,00","0000000240300,00","0000000003736,00","0000000005755,00","0000000000404,00","0000000003029,00","0000000227376,00","0,",NaN
"00006,","00018335190,",MNS,"000550038100012889,",20230701,20230702,20230702,3845,"0000015332300,00","0000000000,",153324,...,"0000000036453,00","0000000000000,00","0000000228310,00","0000000003453,00","0000000005468,00","0000000000384,00","0000000002878,00","0000000216127,00","2,",NaN
"00006,","00018335190,",VNS,"000550038100012889,",20230701,20230702,20230702,3415,"0000000000000,00","0000007084,",060814,...,"0000000019224,00","0000000000000,00","0000000120400,00","0000000001872,00","0000000002884,00","0000000000202,00","0000000001518,00","0000000113924,00","3,",NaN

#gfunciaon de crear df

In [66]:
import os
import pandas as pd
import os

def compilar_archivos_csv_con_trn(ruta):
    archivos_csv = os.listdir(ruta)
    archivos_compilados = []

    for archivo in archivos_csv:
        if archivo.endswith('.CSV'):
            archivo_path = os.path.join(ruta, archivo)
            df = pd.read_csv(archivo_path, sep=";")

            # Verificar si el DataFrame tiene la columna 'TRN'
            if 'TRN' in df.columns:
                # Filtrar las filas con TRN no nulos
                df = df[df['TRN'].notna()]
                # Agregar el DataFrame al listado de archivos compilados
                archivos_compilados.append(df)

    # Unir dfs
    if archivos_compilados:
        merged_df = pd.concat(archivos_compilados, ignore_index=True)
        return merged_df
    else:
        print("No se encontraron archivos CSV con la columna 'TRN' en la ruta especificada.")
        return None

# Llama a la función con la ruta deseada
ruta_archivos = "/content/drive/MyDrive/Facturas_electricas/"
resultado = compilar_archivos_csv_con_trn(ruta_archivos)

In [67]:
resultado

,TRN,COMERCIO,FRANQUICIA,CUENTA,F VALE,F PROCESO,F ABONO,TARJETA,HORA TRNS,COMPROBANTE,...,VLR PROPINA,VLR TOTAL,VLR COMISION,VLR RETE IVA,VLR RETE ICA,VLR RETE FUENTE,VLR ABONO,T TARJETA,HORA TRN,Unnamed: 22
0,"00010261345,",MNS,"000550038100012889,",20230701,20230702,20230702,7951,"0000011180025,00","0000005240,",111802,...,"0000000070400,00","0000000001094,00","0000000001686,00","0000000000000,00","0000000000887,00","0000000066733,00","6,",NaN,NaN,NaN
1,"00010261345,",MNS,"000550038100012889,",20230701,20230702,20230702,520,"0000012174581,00","0000005241,",601747,...,"0000000210200,00","0000000003268,00","0000000005034,00","0000000000000,00","0000000002650,00","0000000199248,00","6,",NaN,NaN,NaN
2,"00010261345,",MNS,"000550038100012889,",20230701,20230702,20230702,1429,"0000012545571,00","0000005242,",125457,...,"0000000018430,00","0000000000287,00","0000000000441,00","0000000000000,00","0000000000232,00","0000000017470,00","6,",NaN,NaN,NaN
3,"00010261345,",MNS,"000550038100012889,",20230701,20230702,20230702,7092,"0000013324566,00","0000005243,",133247,...,"0000000100000,00","0000000001555,00","0000000002395,00","0000000000000,00","0000000001261,00","0000000094789,00","6,",NaN,NaN,NaN
4,"00010261345,",MNS,"000550038100012889,",20230701,20230702,20230702,6177,"0000011193300,00","0000000000,",601933,...,"0000000099900,00","0000000001553,00","0000000002393,00","0000000000000,00","0000000001259,00","0000000094695,00","6,",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,"00018335190,",VNS,"000550038100012889,",20230701,20230702,20230702,3415,"0000000000000,00","0000007084,",060814,...,"0000000120400,00","0000000001872,00","0000000002884,00","0000000000202,00","0000000001518,00","0000000113924,00","3,",NaN,NaN,NaN
304,"00006,","00010275303,",DCN,"000550038100012889,",20230701,20230702,20230702,4154,NaN,"0000003764,",...,"0000000000000,00","0000000039900,00","0000000000335,00","0000000000956,00","0000000000168,00","0000000000503,00","0000000037938,00","0,","0000012115800,00",NaN
305,"00006,","00016424152,",DCN,"000550038100012889,",20230701,20230702,20230702,3192,NaN,"0000003314,",...,"0000000000000,00","0000000119900,00","0000000001864,00","0000000002872,00","0000000000000,00","0000000001511,00","0000000113653,00","3,","0000017000700,00",NaN
306,"00006,","00016424152,",DCN,"000550038100012889,",20230701,20230702,20230702,2555,NaN,"0000004996,",...,"0000000000000,00","0000000035430,00","0000000000551,00","0000000000849,00","0000000000000,00","0000000000447,00","0000000033583,00","0,","0000019580200,00",NaN
307,"00006,","00018493064,",DCN,"000550038100012889,",20230701,20230702,20230702,6572,NaN,"0000001414,",...,"0000000000000,00","0000000329800,00","0000000004989,00","0000000007899,00","0000000001147,00","0000000000000,00","0000000315765,00","0,","0000020002800,00",NaN

#funcion de guardar en .csv

In [62]:
import os
import pandas as pd

def compilar_archivos_csv_con_trn(ruta):
    archivos_csv = os.listdir(ruta)
    archivos_compilados = []
    archivos_sin_trn = []

    for archivo in archivos_csv:
        if archivo.endswith('.CSV'):
            archivo_path = os.path.join(ruta, archivo)
            try:
                df = pd.read_csv(archivo_path, sep=";")

                # Verificar si el DataFrame tiene la columna 'TRN'
                if 'TRN' in df.columns:
                    # Filtrar las filas con TRN no nulos
                    df = df[df['TRN'].notna()]

                    # Agregar el DataFrame al listado de archivos compilados
                    archivos_compilados.append(df)
                else:
                    archivos_sin_trn.append(archivo)

            except Exception as e:
                print(f"Error al procesar el archivo {archivo}: {str(e)}")

    # Combinar
    if archivos_compilados:
        merged_df = pd.concat(archivos_compilados, ignore_index=True)
        #guardar csv
        consolidado_csv = os.path.join(ruta, 'consolidado_1.csv')
        merged_df.to_csv(consolidado_csv, index=False)

        print("Se compiló correctamente.")
        print(f"Archivos sin columna 'TRN': {archivos_sin_trn}")
        print(f"DataFrame resultante guardado en:{consolidado_csv}")

    else:
        print("No se encontraron archivos CSV con la columna 'TRN' en la ruta especificada.")

ruta_archivos = "/content/drive/MyDrive/Facturas_electricas/"
compilar_archivos_csv_con_trn(ruta_archivos)

Se compiló correctamente.
Archivos sin columna 'TRN': ['O087DSTOPCJCN01A3183.CSV']
DataFrame resultante guardado en:/content/drive/MyDrive/Facturas_electricas/consolidado_1.csv

In [53]:
df=pd.read_csv("/content/drive/MyDrive/Facturas_electricas/consolidado_1.csv")
df

,TRN,COMERCIO,FRANQUICIA,CUENTA,F VALE,F PROCESO,F ABONO,TARJETA,HORA TRNS,COMPROBANTE,...,VLR PROPINA,VLR TOTAL,VLR COMISION,VLR RETE IVA,VLR RETE ICA,VLR RETE FUENTE,VLR ABONO,T TARJETA,HORA TRN,Unnamed: 22
0,"00010261345,",MNS,"000550038100012889,",20230701,20230702,20230702,7951,"0000011180025,00","0000005240,",111802,...,"0000000070400,00","0000000001094,00","0000000001686,00","0000000000000,00","0000000000887,00","0000000066733,00","6,",NaN,NaN,NaN
1,"00010261345,",MNS,"000550038100012889,",20230701,20230702,20230702,520,"0000012174581,00","0000005241,",601747,...,"0000000210200,00","0000000003268,00","0000000005034,00","0000000000000,00","0000000002650,00","0000000199248,00","6,",NaN,NaN,NaN
2,"00010261345,",MNS,"000550038100012889,",20230701,20230702,20230702,1429,"0000012545571,00","0000005242,",125457,...,"0000000018430,00","0000000000287,00","0000000000441,00","0000000000000,00","0000000000232,00","0000000017470,00","6,",NaN,NaN,NaN
3,"00010261345,",MNS,"000550038100012889,",20230701,20230702,20230702,7092,"0000013324566,00","0000005243,",133247,...,"0000000100000,00","0000000001555,00","0000000002395,00","0000000000000,00","0000000001261,00","0000000094789,00","6,",NaN,NaN,NaN
4,"00010261345,",MNS,"000550038100012889,",20230701,20230702,20230702,6177,"0000011193300,00","0000000000,",601933,...,"0000000099900,00","0000000001553,00","0000000002393,00","0000000000000,00","0000000001259,00","0000000094695,00","6,",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,"00018335190,",VNS,"000550038100012889,",20230701,20230702,20230702,3415,"0000000000000,00","0000007084,",060814,...,"0000000120400,00","0000000001872,00","0000000002884,00","0000000000202,00","0000000001518,00","0000000113924,00","3,",NaN,NaN,NaN
304,"00006,","00010275303,",DCN,"000550038100012889,",20230701,20230702,20230702,4154,NaN,"0000003764,",...,"0000000000000,00","0000000039900,00","0000000000335,00","0000000000956,00","0000000000168,00","0000000000503,00","0000000037938,00","0,","0000012115800,00",NaN
305,"00006,","00016424152,",DCN,"000550038100012889,",20230701,20230702,20230702,3192,NaN,"0000003314,",...,"0000000000000,00","0000000119900,00","0000000001864,00","0000000002872,00","0000000000000,00","0000000001511,00","0000000113653,00","3,","0000017000700,00",NaN
306,"00006,","00016424152,",DCN,"000550038100012889,",20230701,20230702,20230702,2555,NaN,"0000004996,",...,"0000000000000,00","0000000035430,00","0000000000551,00","0000000000849,00","0000000000000,00","0000000000447,00","0000000033583,00","0,","0000019580200,00",NaN
307,"00006,","00018493064,",DCN,"000550038100012889,",20230701,20230702,20230702,6572,NaN,"0000001414,",...,"0000000000000,00","0000000329800,00","0000000004989,00","0000000007899,00","0000000001147,00","0000000000000,00","0000000315765,00","0,","0000020002800,00",NaN